*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-image:url(img/pexels-elias-tigiser-2757549.jpg);
    /* height: 100%; */
    /* width:100%; */
    background-size: cover;
    background-position: center;
    
  }
  @media (max-width:600px)
  {
    body{
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
  
  .level
  {
    font-size: 300%;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 34rem;
    margin-top: 7rem;
    /* margin-bottom: 40%; */
    font-weight: 800;
   }
   @media (max-width:600px)
   {
    .level{
      margin-left: 7rem;
      margin-top: 11rem;
    }
   }
  .level1{
     text-decoration: none;
     padding: 5% 0 5% 0;
     color:bisque;

  }
  .level1:hover{
  color:rgb(255, 119, 0)
  }
  .level2:hover{
    color:rgb(13, 200, 217);
    }
    .level3:hover{
        color:rgb(208, 64, 208)
        }
  
  .level2{
    text-decoration: none;
    padding: 5% 0 5% 0;
    color:bisque;
 }
 .level3{
  text-decoration: none;
  padding: 5% 0 5% 0;
  color:bisque;
}